.form-group {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &--center{
    height:500px
  }

  &--first{
    padding-bottom: 10px;
    padding-top: 200px;
  }
}

.main-text {
  font-size: 24px;

  &--after-content{
    margin-bottom: 30px;
  }
}

.logo {
  &--big{
    max-width:200px;
  }
}
