<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group form-group--center form-group--first" >
    <p class="main-text main-text--after-content">Регистрация</p>

    <div>
      <mat-form-field >
        <mat-label>Имя</mat-label>
        <input type="text" matInput formControlName="firstName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field  >
        <mat-label>Фамилия</mat-label>
        <input type="text" matInput formControlName="secondName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field  >
        <mat-label>Отчество</mat-label>
        <input type="text" matInput formControlName="secondName">
      </mat-form-field>
    </div>

    <div >
      <mat-form-field appearance="fill" [style.width.px]=212>
        <mat-label>Дата рождения</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Адрес эл. почты</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Телефон</mat-label>
        <input type="text" matInput formControlName="phone">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Логин</mat-label>
        <input type="text" matInput formControlName="userName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Пароль</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!form.valid"
        color="primary">Регистрация</button>
    </div>
  </div>
</form>
